@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "normalize";
@import "vars";

.container {
  max-width: 1108px;
  padding: 0 34px;
  margin: 0 auto;
  @media (max-width: $mobile) {
    padding: 0 31px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  font-family: Manrope, sans-serif;
  color: #fff;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.underline {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.03em;
  &:before {
    background: #ffffff;
    content: "";
    position: absolute;
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.wow-hover {
  position: relative;
  overflow: hidden;
  @media (min-width: 1001px) {
    &:hover span {
      transform: translateY(-100%);
    }
  }
  span {
    display: block;
    transition: transform 0.4s;
  }
  .hovered {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.glass-hover {
  position: relative;
  overflow: hidden;
  @media (min-width: 1001px) {
    &:hover {
      &::before {
        transform: translateY(0);
      }
      //TEMP
      > .arrow-hover {
        img {
          transition: transform 0.4s;
          transform: translateY(100%);
        }
        &.horizontal {
          img {
            transform: translateX(100%) rotate(-90deg);
          }
        }
      }
    }
  }
  &:before {
    pointer-events: none;
    transition: transform 0.25s;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.07);
    transform: translateY(100%);
  }
}

.arrow-hover {
  @media (min-width: 1001px) {
    &:hover {
      img {
        transition: transform 0.4s;
        transform: translateY(100%);
      }
    }
  }
  &.horizontal {
    .wrap {
      .hovered {
        top: 0;
        left: unset;
        right: 100%;
        position: absolute;
      }
    }
    @media (min-width: 1001px) {
      &:hover {
        img {
          transform: translateX(100%) rotate(-90deg);
        }
      }
    }
  }
  .wrap {
    overflow: hidden;
    position: relative;
    .hovered {
      bottom: 100%;
      left: 0;
      position: absolute;
    }
  }
}

.main-header {
  padding-top: 40px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $tablet) {
    padding: 40px 0 20px;
  }
  @media (max-width: $mobile) {
    padding: 30px 0 0;
  }
  > a {
    z-index: 2;
  }
  #menu-btn {
    display: none;
    position: relative;
    height: 35px;
    width: 35px;
    background: none;
    border: none;
    padding: 0;
    z-index: 2;
    span {
      display: block;
      background: #fff;
      height: 1px;
      width: 100%;
      position: absolute;
      transition: transform 0.25s;
      &:first-child {
        top: 11px;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        bottom: 11px;
      }
    }
    &.active {
      span {
        &:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(-50%) scale(0);
        }
        &:last-child {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
    @media (max-width: $tablet) {
      display: block;
    }
  }
  .langs {
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: $tablet) {
      &:not(.mobile) {
        display: none;
      }
    }
    a {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.7;
      letter-spacing: -0.03em;
      text-decoration: none;
      color: #828282;
      transition: color 0.25s;
      &.active,
      &:hover {
        color: #fff;
      }
    }
  }
  //}
}

.mobile-aside {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  //gap: 90px;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  padding-top: 75px;
  overflow-y: auto;
  @media (max-width: $tablet) {
    &.open {
      display: flex;
    }
  }
  @media (max-width: $mobile) {
    padding-top: 65px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 90px 0 0;
    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 600;
      line-height: 1.9;
      letter-spacing: -0.03em;
    }
  }
  .langs {
    gap: 52px;
    margin: 90px 0 243px;
    @media (max-width: $mobile) {
      margin: 70px 0 120px;
    }
  }
  .aside-footer {
    width: 100%;
    align-self: end;
    margin-top: auto;
    @media (max-width: $mobile) {
      padding-bottom: 70px;
      .container {
        > span {
          display: none;
        }
      }
      .socials {
        gap: 10px;
        padding-top: 40px;
        border-top: 1px solid #333333;
      }
    }
  }
}

.banner {
  position: relative;
  height: 940px;
  @media (max-width: $tablet) {
    height: 871px;
  }
  @media (max-width: $mobile) {
    height: 722px;
  }
  > img {
    //width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    object-position: center 10%;
    @media (max-width: $tablet) {
      object-position: center;
    }
  }
  > .container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 146px;
    @media (max-width: $tablet) {
      padding-bottom: 93px;
    }
    @media (max-width: $mobile) {
      padding-bottom: 46px;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 24px;
      padding-top: 24px;
      @media (max-width: $tablet) {
        display: none;
      }
      a {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;
        letter-spacing: -0.03em;
      }
    }
    .banner-title {
      display: flex;
      align-items: end;
      justify-content: space-between;
      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: start;
        gap: 55px;
      }
      h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 90px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.03em;
        @media (max-width: $tablet) {
          font-size: 60px;
        }
        @media (max-width: $mobile) {
          font-size: 50px;
        }
      }
      a {
        margin-bottom: 0.8em;
      }
    }
  }
}

.site-intro {
  margin-top: 75px;
  padding-top: 75px;
  @media (max-width: $mobile) {
    margin-top: 52.5px;
    padding-top: 52.5px;
  }
  > .container {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr minmax(0, 612px);
    gap: 60px 16px;
    @media (max-width: 1000px) {
      display: block;
    }
    > div {
      &.txt-div {
        > p:first-child {
          @media (max-width: 1000px) {
            padding-top: 40px;
          }
        }
      }
      h3 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.03em;
        @media (max-width: $tablet) {
          font-size: 45px;
        }
        @media (max-width: $mobile) {
          font-size: 35px;
        }
      }
      .text {
        max-width: 310px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.03em;
        @media (max-width: 1000px) {
          margin-top: 30px;
        }
        @media (max-width: $mobile) {
          margin-top: 20px;
        }
      }
      p:not(.text) {
        color: #828282;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -0.03em;
      }
      #hidden-text {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
      }
      button {
        width: fit-content;
        margin-top: 33px;
        padding: 0;
        background: none;
        border: none;
        @media (max-width: $tablet) {
          margin-top: 40px;
        }
        &.hide {
          display: none;
        }
        img {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

.corrects {
  margin-top: 200px;
  @media (max-width: $tablet) {
    margin-top: 120px;
  }
  @media (max-width: $mobile) {
    margin-top: 100px;
  }
  .container > h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.03em;
  }
  .corrects-items {
    margin-top: 20px;
    @media (max-width: $tablet) {
      margin-top: 40px;
    }
    @media (max-width: $tablet) {
      margin-top: 10px;
    }
    .item {
      //&:not(:first-child) {
      border-bottom: 1px solid #333333;
      //}
      //&:first-child {
      //  .item-header {
      //    @media (max-width: $mobile) {
      //      padding-top: 0;
      //    }
      //  }
      //}
      &.open {
        .item-header {
          > div {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
      .item-header,
      .item-content {
        display: grid;
        grid-template-columns: 1fr minmax(0, 612px);
      }
      .item-header {
        align-items: center;
        padding: 40px 20px;
        cursor: pointer;
        @media (max-width: $tablet) {
          padding: 8px 0 32px;
          display: block;
        }
        @media (max-width: $mobile) {
          padding: 26px 0;
        }
        span {
          font-size: 16px;
          font-weight: 600;
          line-height: 1;
          color: #828282;
          letter-spacing: -0.03em;
        }
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: $tablet) {
            margin-top: 20px;
            align-items: start;
          }
          h3 {
            font-size: 21px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: -0.03em;
            @media (max-width: $tablet) {
              max-width: 271px;
            }
          }
          img {
            transition: transform 0.4s;
          }
        }
      }
      .item-wrap {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
        .item-content {
          > div {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.7;
            letter-spacing: -0.03em;
            color: #828282;
            padding-bottom: 50px;
          }
        }
      }
    }
  }
}

.listen {
  padding-top: 200px;
  @media (max-width: $tablet) {
    padding-top: 120px;
  }
  @media (max-width: $mobile) {
    padding-top: 100px;
  }
  h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    @media (max-width: $tablet) {
      font-size: 45px;
    }
    @media (max-width: $mobile) {
      font-size: 35px;
    }
  }
  .list {
    margin-top: 60px;
    @media (max-width: $tablet) {
      margin-top: 40px;
      overflow-x: auto;
      @include hide-scroll;
    }
    .listen-items {
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
        min-width: 1040px;
        padding-bottom: 40px;
      }
      .l-item {
        //flex-shrink: 0;
        flex-basis: calc(16.2% - 6px);
        width: 231px;
        height: 231px;
        position: relative;
        @media (max-width: $mobile) {
          width: 195px;
          height: 195px;
          flex-basis: calc(18% - 6px);
        }
        &:hover {
          .item-wrap {
            z-index: 2;
            background: #fff;
          }
        }
        .item-wrap {
          cursor: pointer;
          position: absolute;
          transition: background-color 0.25s;
          top: 0;
          left: 0;
          width: 231px;
          aspect-ratio: 1;
          //width: 231px;
          //height: 231px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #333333;
          background: #000;
          @media (max-width: $mobile) {
            width: 195px;
            height: 195px;
          }
          .wrap {
            img {
              @media (max-width: $mobile) {
                max-width: 133px;
                max-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}

.videos {
  padding-top: 200px;
  @media (max-width: $tablet) {
    padding-top: 120px;
  }
  @media (max-width: $mobile) {
    padding-top: 100px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.03em;
    @media (max-width: $tablet) {
      font-size: 45px;
    }
    @media (max-width: $mobile) {
      font-size: 35px;
    }
  }
  a {
    cursor: pointer;
    &:hover .backdrop {
      opacity: 1;
    }
  }
  .video-single {
    position: relative;
    aspect-ratio: 246 / 175;
    padding: 19px;
    text-decoration: none;
    @media (max-width: $mobile) {
      padding: 24px;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      gap: 8px;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.04em;
    }
    .backdrop {
      transition: opacity 0.25s;
      background: rgba(#090909, 0.74);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      right: 0;
    }
  }
  .videos-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  .videos-swiper {
    margin-top: 40px;
    display: none;
    overflow: initial;
    @media (max-width: $tablet) {
      display: flex;
    }
  }
  .videos-pagination {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 42px;
    @media (max-width: $mobile) {
      margin-top: 30px;
    }
    span {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #afb0b3;
      transition:
        background-color 0.25s,
        transfrom 0.25s;
      cursor: pointer;
      &.active {
        transform: scale(1.5);
        background: #fff;
      }
    }
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}

.download {
  padding-top: 200px;
  @media (max-width: $tablet) {
    padding-top: 120px;
  }
  @media (max-width: $mobile) {
    padding-top: 100px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.03em;
    @media (max-width: $tablet) {
      font-size: 45px;
    }
    @media (max-width: $mobile) {
      font-size: 35px;
    }
  }
  .songs {
    margin-top: 20px;
    > a {
      text-decoration: none;
      padding: 40px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:first-child) {
        border-top: 1px solid #333333;
      }
      &:last-child {
        border-bottom: 1px solid #333333;
      }
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: start;
        gap: 16px;
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -0.03em;
        color: #828282;
      }
    }
  }
}

footer {
  margin-top: 150px;
  padding: 40px 0 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  color: #747171;
  letter-spacing: -0.06em;
  border-top: 1px solid #333333;
  @media (max-width: $mobile) {
    margin-top: 100px;
  }
  @media (max-width: $tablet) {
    margin-top: 120px;
    border-top: none;
    padding: 0 0 60px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 80px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      > span {
        margin-top: 40px;
      }
    }
    @media (max-width: $mobile) {
      > span {
        margin-top: 50px;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      gap: 130px;
      @media (max-width: $tablet) {
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #333333;
        gap: 0;
        justify-content: space-between;
      }
      @media (max-width: $mobile) {
        flex-direction: column;
        gap: 20px;
        border: none;
        padding: 0;
      }
      a {
        color: #747171;
        text-decoration: none;
      }
    }
  }
}
